body {
    text-align: center;
}
.modal_background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);

}
.modal_body {
    position: relative;
    width: 400px;
    height: 350px;
    top: 50%;
    left: 50%;
    background:  #2e3d49;
    transform: translate(-50%,-70%);
}
.modal_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: #2e3d49;
    color: white;
    margin-left: 25%
 }

.modal_buttons {
    display: flex;
    justify-content: space-around; 
    margin-top:30px;
}
.modal_button {
    width:60px;
    height:30px;
}
.hide {
    display: none;
}